data/riboseq_*/*
data/rnaseq_*/*
data/preproccessed*
reference_genome/GCF*
reference_genome/*GCA*
reference_genome/*cleaned*
scripts/preprocess_reads2.sh
reference_genome/star_index*
v1_results
reference_genome/contaminant_sequences/star_*
reference_genome/contaminant_sequences/*fna
Log.out
orfrater_analysis*
.Rhistory
alignment_tracks
periodicity_analysis
script_backup
results/read_counts
results/read_length*
results/section2.1/*
results/section2.2/*.png
results/section2.2/*
results/section2.3/*
results/section2.4/*
results/section2.5/*
results/section2.6/*
results/r_scripts/*html
results/r_scripts/*Rproj
amino_acid_analysis
.gitignore  
.Rproj.user
r_bookdown
plastid_reference
quantitation
rpf_psite_analysis
orf_lists
proteomics_db
results/r_scripts/read_length.txt
results/r_scripts/*_files*
reviewer_response*
.gitignore
picr.genome
.gitignore
*fai
.vscode/settings.json
scripts/hisat_testing.sh
reference_genome/BSgenome
ORFik_optimized
*ebwt
*FASTA*
*PICRH_ORFIK*
cgr.orfrater.annotation.reference.bed
ORFik.gtf
orfrater_predictions.reference.gtf
orfrater_predictions.reference.gtf.db
rate_regression.ncbi.csv
reference_genome/PICRH_ORFik.gtf.db
reference_genome/PICRH_ORFik.gtf
results/metagene_profiles/chx.metagene.txt
results/metagene_profiles/harr.metagene.txt
results/metagene_profiles/nd.metagene.txt
results/r_scripts/track_testing.R
test_visualisations/svist4get_output.pdf
test_visualisations/svist4get_output.png
sequences_no_newlines.fasta
test_filter.fasta
test.remove.list
results/DE_analysis/riboseq_size_factors.txt
results/DE_analysis/rnaseq_size_factors.txt
results/DE_analysis/lncRNA_novel_orfs.txt
results/orftable/ortable.rData
scripts/philosopher_commands.sh
reference_genome/refseq_microproteins.fa
results/r_scripts/orf_scoring.Rmd
results/r_scripts/orf_scoring.Rmd
ribosome_footprint_profiling.Rproj
reference_genome/.DS_Store
.DS_Store
